/* global dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  /* Software Dashboard dark mode */
  .software-review-page.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
  }