@use '../scss/abstract/variables' as variables;
@use '../scss/abstract/break_points' as breakpoints;

// Light Mode Navbar Styles
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  color: #333;
  height: 50px;
  border-bottom: 1px solid #eee;
  position: fixed;
  z-index: 1000;
  width: calc(100% - 231px);
  margin-left: 231px;
  margin-top: -7px;
  &.dark-mode {
    background-color:black;
    color: #f5f5f5;

    .toggle-icon{
      color: white;
    }
  }

  .dark-mode-toggle {
    // margin-bottom: 20px;
    display: flex;
    align-items: center;

    .switch {
        position: relative;
        display: inline-block;
        width: 34px;
        height: 20px;
        margin-right: 10px;

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: 0.4s;
            border-radius: 20px;

            &::before {
                position: absolute;
                content: "";
                height: 14px;
                width: 14px;
                left: 3px;
                bottom: 3px;
                background-color: white;
                transition: 0.4s;
                border-radius: 50%;
            }
        }

        input:checked+.slider {
          background-color: variables.$btn-color;
        }

        input:checked+.slider::before {
            transform: translateX(14px);
        }
    }
}
  // Sidebar open/closed states
  .sidebar--open {
    display: none;
  }
  .toggle-icon {
    display: none;
  }
  .sidebar--closed {
    display: none;
  }

  &__greeting {
    position: relative;

    h4 {
      font-size: 20px;
      font-weight: 600;
      color: #ea650d;
      text-wrap: wrap;
      position: absolute;
      margin-top: -25px;
      display: none;
    }
  }

  .navbar__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 35px;
    cursor: pointer;

    .divider {
      height: 20px;
      border: 2px solid gray;
      margin-top: 5px;
    }

    .navbar__avatar {
      position: relative;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;

      .navbar__avatar-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

   
  }
}



// Media Queries
@media screen and (max-width: breakpoints.$screen-md-min) {
  .navbar {
    margin-left: 0;
    width: 100%;

    &__greeting {
      margin-right: 27rem;
      margin-top: 13px;

      h4 {
        display: block;
        text-align: justify;
        text-wrap: nowrap;
      }
    }

    .toggle-icon {
      display: block;
    }

    .sidebar--closed {
      display: none;
    }

    .sidebar--open {
      display: block;
    }

    .sidebar {
      margin-top: 28rem;
      padding: 0;

      &__footer {
        margin-top: 6rem;
      }
    }
  }
}
